Imports

In [1]:
# Import required libraries

import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
# Load the environment variables from the .env file

load_dotenv()

True

Ticker

In [3]:
# Create variable for Bloomin' Brands ticker

ticker = "BLMN"

API keys

In [4]:
# Set the variables for the Alpaca API and secret keys

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


# Create the Alpaca tradeapi.REST object

alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

Timeframe

In [5]:
# Set timeframe to 1D 

timeframe = "1D"


# Set timeframe start and end date for 60 period begining 1/1/2021

start_date = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-2-28", tz="America/New_York").isoformat()

Alpaca pull

In [6]:
# Use the Alpaca get_barset function to get current closing prices the bond portfolio


blmn_prices = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000
).df


# Review the bond tickers Alpaca DataFrame

display(blmn_prices.head())
display(blmn_prices.tail())

                            BLMN
                            open   high    low   close   volume
time
2021-01-04 00:00:00-05:00  19.43  19.46  17.95  18.340  3106530
2021-01-05 00:00:00-05:00  18.36  19.27  18.35  19.050  2007548
2021-01-06 00:00:00-05:00  19.09  20.47  19.09  20.310  3209117
2021-01-07 00:00:00-05:00  20.35  20.82  20.26  20.560  2279987
2021-01-08 00:00:00-05:00  20.70  21.05  20.37  20.675  1521367

                            BLMN
                            open   high      low  close   volume
time
2021-02-22 00:00:00-05:00  24.68  26.74  24.6700  26.00  3862048
2021-02-23 00:00:00-05:00  25.86  26.44  25.0500  25.55  2520432
2021-02-24 00:00:00-05:00  25.49  26.65  25.4900  26.51  2111327
2021-02-25 00:00:00-05:00  26.52  26.66  24.3066  25.04  2540295
2021-02-26 00:00:00-05:00  24.97  25.40  24.2100  24.84  2050721

Close prices

In [7]:
# Create df with only the daily close prices

blmn_close_prices = blmn_prices.xs("close", level=1, axis="columns")

blmn_close_prices.head()

                             BLMN
time
2021-01-04 00:00:00-05:00  18.340
2021-01-05 00:00:00-05:00  19.050
2021-01-06 00:00:00-05:00  20.310
2021-01-07 00:00:00-05:00  20.560
2021-01-08 00:00:00-05:00  20.675