In [111]:
import pandas as pd
import datetime

In [112]:
#import the price data for the specified range, Jan 1,2021 - Feb 28, 2021

price_df = pd.read_csv('blmn_close_prices.csv')

price_df['date'] = price_df['time']

del price_df['time']

price_df.tail()

       BLMN                       date
247  21.260  2021-12-27 00:00:00-05:00
248  21.330  2021-12-28 00:00:00-05:00
249  21.460  2021-12-29 00:00:00-05:00
250  21.200  2021-12-30 00:00:00-05:00
251  20.985  2021-12-31 00:00:00-05:00

In [113]:
weather_df = pd.read_csv('data/cleaned_data/df_weather_data_updated.csv')

In [114]:
corr_states_sliced_df = weather_df.drop(columns=[
    'request.type', 
    'request.language', 
    'request.unit',
    'location.lat',
    'location.lon',
    'location.timezone_id',
    'location.utc_offset',
    ])
corr_states_sliced_df = corr_states_sliced_df.drop(correlated_states_df.columns[[0,1]],axis=1)
corr_states_sliced_df.rename(columns={
    'location.region':'state', 
    'request.query': 'zipcode', 
    'location.name': 'city',
    'location.country':'country'
    }, inplace=True)

date = corr_states_sliced_df.pop('date')
corr_states_sliced_df.insert(0, 'date', date)

state = corr_states_sliced_df.pop('state')
corr_states_sliced_df.insert(1, 'state', state)

corr_states_sliced_df['date']= pd.to_datetime(corr_states_sliced_df['date'], utc=True)#.dt.date

price_df['date'] = pd.to_datetime(price_df['date'], utc=True)#.dt.date

#corr_states_sliced_df = corr_states_sliced_df['state'].isin(correlated_states_list)

corr_states_sliced_df

,date,state,Unnamed: 0.1.1,zipcode,city,country,temperature,precip,humidity,visibility,...,heatindex,dewpoint,windchill,windgust,feelslike,mintemp,maxtemp,avgtemp,totalsnow,sunhour
0,2021-01-01 00:00:00+00:00,Florida,0.0,34231,Sarasota,USA,23,0.0,82,10,...,22,18,21,45,21,20,23,21,0.0,8.7
1,2021-01-01 00:00:00+00:00,Florida,1.0,34201,Bradenton,USA,24,0.0,79,10,...,23,18,22,41,23,20,24,22,0.0,8.7
2,2021-01-01 00:00:00+00:00,Florida,2.0,33710,Saint Petersburg,USA,21,0.0,83,10,...,21,17,20,51,20,20,21,21,0.0,8.7
3,2021-01-01 00:00:00+00:00,Florida,3.0,34994,Stuart,USA,26,0.0,75,10,...,26,19,24,31,26,23,26,25,0.0,8.7
4,2021-01-01 00:00:00+00:00,Florida,4.0,32309,Tallahassee,USA,23,2.1,90,9,...,21,18,20,27,20,18,23,21,0.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109599,2021-03-16 00:00:00+00:00,Florida,NaN,32819,Orlando,USA,29,0.0,64,10,...,24,15,23,21,24,19,29,24,0.0,11.6
109600,2021-03-16 00:00:00+00:00,Florida,NaN,32789,Winter Park,USA,29,0.0,64,10,...,24,16,24,19,24,19,29,25,0.0,11.6
109601,2021-03-16 00:00:00+00:00,Florida,NaN,34239,Sarasota,USA,24,0.0,80,10,...,23,18,22,26,23,19,24,22,0.0,11.6
109602,2021-03-16 00:00:00+00:00,Georgia,NaN,30346,Atlanta,USA,18,36.7,84,8,...,15,12,14,14,14,11,18,16,0.0,6.0
109603,2021-03-16 00:00:00+00:00,Florida,NaN,33131,Miami,USA,24,0.0,73,10,...,25,18,23,33,25,22,24,23,0.0,11.6

In [115]:
grouped_df = corr_states_sliced_df.groupby(["state", 'date'], as_index=False).mean()

grouped_df.sort_values('date')

,state,date,Unnamed: 0.1.1,zipcode,temperature,precip,humidity,visibility,pressure,cloudcover,heatindex,dewpoint,windchill,windgust,feelslike,mintemp,maxtemp,avgtemp,totalsnow,sunhour
0,Alabama,2021-01-01 00:00:00+00:00,1774.545455,35767.500000,20.863636,25.468182,84.318182,8.181818,1013.454545,64.954545,18.909091,15.500000,18.136364,29.454545,18.136364,14.454545,20.863636,19.636364,0.00,5.486364
2957,Pennsylvania,2021-01-01 00:00:00+00:00,2271.864865,18037.324324,2.297297,5.889189,81.405405,8.837838,1028.756757,57.216216,0.351351,-2.270270,-2.567568,13.864865,-2.567568,-2.351351,2.297297,0.675676,0.00,5.840541
1007,Georgia,2021-01-01 00:00:00+00:00,2122.806452,30543.870968,19.354839,35.009677,95.322581,6.903226,1017.161290,94.516129,16.645161,15.935484,16.000000,25.258065,16.000000,11.290323,19.354839,17.451613,0.00,3.987097
3016,South Carolina,2021-01-01 00:00:00+00:00,2269.875000,29532.041667,19.541667,17.779167,94.041667,7.291667,1020.375000,87.916667,17.333333,16.333333,16.708333,23.041667,16.708333,13.625000,19.541667,17.875000,0.00,3.933333
3371,South Dakota,2021-01-01 00:00:00+00:00,2387.500000,57403.500000,0.500000,0.000000,77.000000,10.000000,1020.500000,7.500000,-3.000000,-7.500000,-6.000000,14.500000,-6.000000,-6.000000,0.500000,-3.000000,0.00,8.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2602,Nevada,2021-12-31 00:00:00+00:00,NaN,89162.375000,8.250000,0.137500,76.375000,9.875000,1010.500000,41.250000,5.375000,1.375000,4.500000,9.500000,4.500000,2.875000,8.250000,5.875000,0.00,8.075000
414,Arizona,2021-12-31 00:00:00+00:00,NaN,85389.733333,11.866667,18.200000,79.666667,7.200000,1009.666667,85.933333,10.600000,7.066667,9.666667,11.866667,9.666667,9.466667,11.866667,10.600000,0.12,3.720000
3370,South Carolina,2021-12-31 00:00:00+00:00,NaN,29532.041667,21.958333,0.808333,89.583333,7.916667,1014.125000,65.583333,19.791667,17.250000,19.083333,20.625000,19.083333,16.666667,21.958333,19.208333,0.00,5.254167
1362,Georgia,2021-12-31 00:00:00+00:00,NaN,30543.870968,21.903226,1.200000,93.064516,6.580645,1014.322581,92.548387,18.935484,17.580645,18.645161,14.903226,18.709677,16.516129,21.903226,19.032258,0.00,3.722581
1006,Florida,2021-12-31 00:00:00+00:00,NaN,33400.790323,28.951613,0.037097,76.693548,9.604839,1018.096774,10.379032,25.266129,19.129032,23.814516,16.008065,25.266129,20.572581,28.951613,24.838710,0.00,8.383871

In [121]:
Arizona = grouped_df[grouped_df['state']=='Arizona']

Florida = grouped_df[grouped_df['state']=='Florida']

Georgia = grouped_df[grouped_df['state']=='Georgia']

Nevada = grouped_df[grouped_df['state']=='Nevada']

South_Carolina = grouped_df[grouped_df['state']=='South Carolina']

In [118]:
 Arizona_df = pd.merge(Arizona, price_df, how='outer', on='date').dropna()

 Arizona_df

Empty DataFrame
Columns: [state, date, Unnamed: 0.1.1, zipcode, temperature, precip, humidity, visibility, pressure, cloudcover, heatindex, dewpoint, windchill, windgust, feelslike, mintemp, maxtemp, avgtemp, totalsnow, sunhour, BLMN]
Index: []

[0 rows x 21 columns]