Imports

In [25]:
# Imports

import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

Prepare the data

In [26]:
# Read the weather and pricing csvs and join dataframes

df = pd.read_csv("data/neural_network_df.csv")


# Review

df.head(15)

,state,temperature,precip,humidity,visibility,pressure,cloudcover,heatindex,dewpoint,windchill,windgust,feelslike,mintemp,maxtemp,avgtemp,totalsnow,sunhour,blmn
0,Florida,18.531100,0.124402,60.258373,9.966507,1018.114833,28.937799,17.062201,8.641148,16.239234,17.559809,16.377990,14.363636,18.531100,16.593301,0.000,7.513397,18.34
1,Arizona,17.733333,0.000000,31.533333,10.000000,1019.066667,8.266667,13.133333,-3.933333,12.666667,7.133333,12.666667,8.733333,17.733333,13.066667,0.000,8.700000,18.34
2,South Carolina,12.875000,0.000000,67.291667,10.000000,1017.041667,21.708333,9.666667,3.750000,8.583333,12.916667,8.583333,7.083333,12.875000,10.166667,0.000,8.287500,18.34
3,Georgia,12.032258,0.000000,65.935484,10.000000,1019.129032,9.225806,7.354839,1.096774,5.322581,15.322581,5.322581,3.741935,12.032258,7.870968,0.000,8.700000,18.34
4,Nevada,11.625000,2.237500,46.250000,9.500000,1018.000000,29.375000,7.250000,-5.000000,6.250000,11.375000,6.250000,2.375000,11.625000,8.000000,1.225,7.400000,18.34
5,Florida,18.732057,0.000000,55.483254,10.000000,1018.382775,0.669856,15.473684,6.282297,15.071770,18.449761,15.071770,12.444976,18.732057,15.866029,0.000,8.700000,19.05
6,South Carolina,13.333333,0.008333,66.541667,9.958333,1015.791667,23.125000,9.333333,3.000000,7.750000,17.208333,7.750000,6.291667,13.333333,9.833333,0.000,8.300000,19.05
7,Nevada,12.750000,0.500000,47.625000,10.000000,1021.125000,9.875000,7.625000,-4.625000,6.500000,12.500000,6.500000,2.125000,12.750000,8.125000,0.000,8.700000,19.05
8,Georgia,11.806452,0.070968,68.709677,9.645161,1018.032258,28.516129,8.677419,2.645161,6.774194,16.741935,6.774194,6.193548,11.806452,9.064516,0.000,7.732258,19.05
9,Arizona,20.133333,0.000000,31.933333,10.000000,1017.933333,12.400000,15.066667,-2.200000,14.866667,7.200000,14.866667,10.933333,20.133333,15.800000,0.000,8.700000,19.05
10,Florida,18.557971,0.002899,57.804348,10.000000,1019.275362,14.449275,14.971014,6.391304,14.224638,17.847826,14.224638,11.804348,18.557971,15.253623,0.000,8.560870,20.31
11,South Carolina,10.096774,0.000000,66.387097,10.000000,1021.161290,25.741935,6.741935,0.774194,5.225806,14.258065,5.225806,4.483871,10.096774,7.322581,0.000,7.858065,20.31
12,Georgia,11.282051,0.000000,62.615385,9.974359,1021.769231,35.948718,6.538462,-0.666667,5.461538,9.384615,5.461538,2.897436,11.282051,7.179487,0.000,7.779487,20.31
13,Nevada,11.900000,0.000000,37.300000,10.000000,1021.700000,32.700000,7.300000,-7.500000,5.900000,11.500000,5.900000,2.200000,11.900000,7.600000,0.000,7.520000,20.31
14,Arizona,18.047619,0.000000,28.619048,10.000000,1019.523810,23.523810,13.904762,-4.857143,13.000000,11.380952,13.000000,9.285714,18.047619,13.952381,0.000,7.242857,20.31

In [27]:
# Drop the irrelevant columns from the df 

df = df.drop(columns=([
    #"precip",
    "humidity", 
    "visibility",
    "pressure",
    "cloudcover",
    "heatindex",
    "dewpoint",
    "windchill",
    "windgust",
    "feelslike",
    "mintemp",
    "maxtemp",
    "avgtemp",
    "totalsnow",
    "sunhour" 
   ]))


    

# review

df.tail(15)

              state  temperature     precip    blmn
383         Arizona    11.200000   1.553333  21.460
384  South Carolina    22.166667   0.129167  21.460
385         Georgia    21.032258   0.654839  21.460
386         Florida    27.750000   0.087903  21.460
387          Nevada     3.875000   0.825000  21.460
388          Nevada     4.625000   2.475000  21.200
389         Florida    28.741935   0.123387  21.200
390         Arizona    13.666667   0.753333  21.200
391  South Carolina    22.958333   0.504167  21.200
392         Georgia    22.419355   1.870968  21.200
393          Nevada     8.250000   0.137500  20.985
394         Arizona    11.866667  18.200000  20.985
395  South Carolina    21.958333   0.808333  20.985
396         Georgia    21.903226   1.200000  20.985
397         Florida    28.951613   0.037097  20.985

One Hot Encoder

In [28]:
# Create a list of categorical variables 

categorical_variables = list(df.dtypes[df.dtypes == "object"].index)


# Review

categorical_variables

['state']

In [29]:
# Create a OneHotEncoder instance

enc = OneHotEncoder(sparse=False)

In [30]:
# Encode the categorcal variables using OneHotEncoder

encoded_data = enc.fit_transform(df[categorical_variables])

In [31]:
# Create a DataFrame with the encoded variables

encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)


# Review the DataFrame

encoded_df.head(15)

,state_Arizona,state_Florida,state_Georgia,state_Nevada,state_South Carolina
0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0
7,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,1.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0
10,0.0,1.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,1.0
12,0.0,0.0,1.0,0.0,0.0
13,0.0,0.0,0.0,1.0,0.0
14,1.0,0.0,0.0,0.0,0.0

In [32]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

concat_encoded_df = pd.concat(
    [
        df.drop(columns= categorical_variables),
        encoded_df
    ],
    axis=1
)



# Review the Dataframe

concat_encoded_df.head()

,temperature,precip,blmn,state_Arizona,state_Florida,state_Georgia,state_Nevada,state_South Carolina
0,18.531100,0.124402,18.34,0.0,1.0,0.0,0.0,0.0
1,17.733333,0.000000,18.34,1.0,0.0,0.0,0.0,0.0
2,12.875000,0.000000,18.34,0.0,0.0,0.0,0.0,1.0
3,12.032258,0.000000,18.34,0.0,0.0,1.0,0.0,0.0
4,11.625000,2.237500,18.34,0.0,0.0,0.0,1.0,0.0

Features (x) & Target (y) datasets

In [33]:
# Define the target set y

y = concat_encoded_df["blmn"]


# Display a sample of y

y[:5]

0    18.34
1    18.34
2    18.34
3    18.34
4    18.34
Name: blmn, dtype: float64

In [34]:
# Define features set X by selecting all columns but y

X = concat_encoded_df.drop(columns="blmn")


# Review

X.head()

,temperature,precip,state_Arizona,state_Florida,state_Georgia,state_Nevada,state_South Carolina
0,18.531100,0.124402,0.0,1.0,0.0,0.0,0.0
1,17.733333,0.000000,1.0,0.0,0.0,0.0,0.0
2,12.875000,0.000000,0.0,0.0,0.0,0.0,1.0
3,12.032258,0.000000,0.0,0.0,1.0,0.0,0.0
4,11.625000,2.237500,0.0,0.0,0.0,1.0,0.0

Split Train/Test datasets

In [35]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Standard Scaler

In [36]:
# Create a StandardScaler instance

scaler = StandardScaler()


# Fit the scaler to the features training dataset

X_scaler = scaler.fit(X_train)


# Fit the scaler to the features training dataset

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Neural Network

In [37]:
# Define the the number of inputs (features) to the model

number_input_features = len(X_train.iloc[0])


# Review

number_input_features

7

In [38]:
# Define the number of neurons in the output layer

number_output_neurons = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer

hidden_nodes_layer1 =  (number_input_features + 1) // 2 


# Review the number hidden nodes in the first layer

hidden_nodes_layer1

4

In [40]:
# Define the number of hidden nodes for the second hidden layer

hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2


# Review the number hidden nodes in the second layer

hidden_nodes_layer2

2

In [41]:
# Create the Sequential model instance

nn = Sequential()

In [42]:
# Add the first hidden layer

nn.add(Dense(
    units=hidden_nodes_layer1, 
    input_dim=number_input_features, 
    activation="relu")
)

In [43]:
# Add the second hidden layer

nn.add(Dense(
    units=hidden_nodes_layer2, 
    activation="relu")
)

In [44]:
# Add the output layer to the model specifying the number of output neurons and activation function

nn.add(Dense(
    units=number_output_neurons, 
    activation="sigmoid")
)

In [45]:
# Display the Sequential model summary

nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 4)                 32

 dense_4 (Dense)             (None, 2)                 10

 dense_5 (Dense)             (None, 1)                 3

=================================================================
Total params: 45
Trainable params: 45
Non-trainable params: 0
_________________________________________________________________

Compile & Fit model

In [46]:
# Compile the Sequential model

nn.compile(
    loss="binary_crossentropy", 
    optimizer="adam", 
    metrics=["accuracy"]
)

In [47]:
# Fit the model using 50 epochs and the training data

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
10/10 [==============================] - 1s 2ms/step - loss: 15.3638 - accuracy: 0.0000e+00
Epoch 2/50
10/10 [==============================] - 0s 3ms/step - loss: 14.0386 - accuracy: 0.0000e+00
Epoch 3/50
10/10 [==============================] - 0s 3ms/step - loss: 12.7706 - accuracy: 0.0000e+00
Epoch 4/50
10/10 [==============================] - 0s 4ms/step - loss: 11.5321 - accuracy: 0.0000e+00
Epoch 5/50
10/10 [==============================] - 0s 3ms/step - loss: 10.1789 - accuracy: 0.0000e+00
Epoch 6/50
10/10 [==============================] - 0s 4ms/step - loss: 8.5113 - accuracy: 0.0000e+00
Epoch 7/50
10/10 [==============================] - 0s 4ms/step - loss: 6.7291 - accuracy: 0.0000e+00
Epoch 8/50
10/10 [==============================] - 0s 3ms/step - loss: 4.9715 - accuracy: 0.0000e+00
Epoch 9/50
10/10 [==============================] - 0s 4ms/step - loss: 3.2719 - accuracy: 0.0000e+00
Epoch 10/50
10/10 [==============================] - 0s 4ms/step - loss: 1.5159 - accuracy: 0.0000e+00
Epoch 11/50
10/10 [==============================] - 0s 3ms/step - loss: -0.3696 - accuracy: 0.0000e+00
Epoch 12/50
10/10 [==============================] - 0s 3ms/step - loss: -2.2978 - accuracy: 0.0000e+00
Epoch 13/50
10/10 [==============================] - 0s 3ms/step - loss: -4.2709 - accuracy: 0.0000e+00
Epoch 14/50
10/10 [==============================] - 0s 3ms/step - loss: -6.2229 - accuracy: 0.0000e+00
Epoch 15/50
10/10 [==============================] - 0s 3ms/step - loss: -8.2897 - accuracy: 0.0000e+00
Epoch 16/50
10/10 [==============================] - 0s 2ms/step - loss: -10.4898 - accuracy: 0.0000e+00
Epoch 17/50
10/10 [==============================] - 0s 3ms/step - loss: -12.8179 - accuracy: 0.0000e+00
Epoch 18/50
10/10 [==============================] - 0s 3ms/step - loss: -15.3070 - accuracy: 0.0000e+00
Epoch 19/50
10/10 [==============================] - 0s 3ms/step - loss: -17.8700 - accuracy: 0.0000e+00
Epoch 20/50
10/10 [==============================] - 0s 3ms/step - loss: -20.4743 - accuracy: 0.0000e+00
Epoch 21/50
10/10 [==============================] - 0s 2ms/step - loss: -23.1810 - accuracy: 0.0000e+00
Epoch 22/50
10/10 [==============================] - 0s 3ms/step - loss: -25.9458 - accuracy: 0.0000e+00
Epoch 23/50
10/10 [==============================] - 0s 2ms/step - loss: -28.8065 - accuracy: 0.0000e+00
Epoch 24/50
10/10 [==============================] - 0s 2ms/step - loss: -31.7511 - accuracy: 0.0000e+00
Epoch 25/50
10/10 [==============================] - 0s 3ms/step - loss: -34.7696 - accuracy: 0.0000e+00
Epoch 26/50
10/10 [==============================] - 0s 2ms/step - loss: -37.8916 - accuracy: 0.0000e+00
Epoch 27/50
10/10 [==============================] - 0s 3ms/step - loss: -41.1803 - accuracy: 0.0000e+00
Epoch 28/50
10/10 [==============================] - 0s 3ms/step - loss: -44.5133 - accuracy: 0.0000e+00
Epoch 29/50
10/10 [==============================] - 0s 3ms/step - loss: -48.0271 - accuracy: 0.0000e+00
Epoch 30/50
10/10 [==============================] - 0s 3ms/step - loss: -51.5989 - accuracy: 0.0000e+00
Epoch 31/50
10/10 [==============================] - 0s 3ms/step - loss: -55.3417 - accuracy: 0.0000e+00
Epoch 32/50
10/10 [==============================] - 0s 2ms/step - loss: -59.1840 - accuracy: 0.0000e+00
Epoch 33/50
10/10 [==============================] - 0s 3ms/step - loss: -63.1367 - accuracy: 0.0000e+00
Epoch 34/50
10/10 [==============================] - 0s 3ms/step - loss: -67.3410 - accuracy: 0.0000e+00
Epoch 35/50
10/10 [==============================] - 0s 2ms/step - loss: -71.6708 - accuracy: 0.0000e+00
Epoch 36/50
10/10 [==============================] - 0s 2ms/step - loss: -76.0766 - accuracy: 0.0000e+00
Epoch 37/50
10/10 [==============================] - 0s 2ms/step - loss: -80.7850 - accuracy: 0.0000e+00
Epoch 38/50
10/10 [==============================] - 0s 3ms/step - loss: -85.4738 - accuracy: 0.0000e+00
Epoch 39/50
10/10 [==============================] - 0s 3ms/step - loss: -90.5387 - accuracy: 0.0000e+00
Epoch 40/50
10/10 [==============================] - 0s 3ms/step - loss: -95.6263 - accuracy: 0.0000e+00
Epoch 41/50
10/10 [==============================] - 0s 3ms/step - loss: -101.0867 - accuracy: 0.0000e+00
Epoch 42/50
10/10 [==============================] - 0s 3ms/step - loss: -106.7271 - accuracy: 0.0000e+00
Epoch 43/50
10/10 [==============================] - 0s 2ms/step - loss: -112.5503 - accuracy: 0.0000e+00
Epoch 44/50
10/10 [==============================] - 0s 2ms/step - loss: -118.5794 - accuracy: 0.0000e+00
Epoch 45/50
10/10 [==============================] - 0s 2ms/step - loss: -124.9452 - accuracy: 0.0000e+00
Epoch 46/50
10/10 [==============================] - 0s 3ms/step - loss: -131.5324 - accuracy: 0.0000e+00
Epoch 47/50
10/10 [==============================] - 0s 2ms/step - loss: -138.3306 - accuracy: 0.0000e+00
Epoch 48/50
10/10 [==============================] - 0s 4ms/step - loss: -145.4312 - accuracy: 0.0000e+00
Epoch 49/50
10/10 [==============================] - 0s 4ms/step - loss: -152.8570 - accuracy: 0.0000e+00
Epoch 50/50
10/10 [==============================] - 0s 5ms/step - loss: -160.3970 - accuracy: 0.0000e+00

Evaluate

In [48]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 1s - loss: -1.5446e+02 - accuracy: 0.0000e+00 - 712ms/epoch - 178ms/step
Loss: -154.45962524414062, Accuracy: 0.0