In [47]:
import pandas as pd
import datetime

In [3]:
#import the price data for the specified range, Jan 1,2021 - Feb 28, 2021

price_df = pd.read_csv('blmn_close_prices.csv')

price_df.tail()

                         time   BLMN
33  2021-02-22 00:00:00-05:00  26.00
34  2021-02-23 00:00:00-05:00  25.55
35  2021-02-24 00:00:00-05:00  26.51
36  2021-02-25 00:00:00-05:00  25.04
37  2021-02-26 00:00:00-05:00  24.84

In [85]:
weather_df = pd.read_csv('df_weather_data_updated-downloaded_copy.csv')
weather_df_sliced = weather_df.drop(columns=[
    'request.type', 
    'request.language', 
    'request.unit',
    'location.lat',
    'location.lon',
    'location.timezone_id',
    'location.utc_offset',
    ])

weather_df_sliced = weather_df_sliced.drop(weather_df_sliced.columns[[0,1]], axis=1)

weather_df_sliced.rename(columns={
    'location.region':'state', 
    'request.query': 'zipcode', 
    'location.name': 'city',
    'location.country':'country'
    }, inplace=True)

date = weather_df_sliced.pop('date')
weather_df_sliced.insert(0, 'date', date)

state = weather_df_sliced.pop('state')
weather_df_sliced.insert(1, 'state', state)

weather_df_sliced['date']= pd.to_datetime(weather_df_sliced['date'])
price_df['time'] = pd.to_datetime(price_df['time'])

weather_df_sliced

,date,state,zipcode,city,country,temperature,precip,humidity,visibility,pressure,...,heatindex,dewpoint,windchill,windgust,feelslike,mintemp,maxtemp,avgtemp,totalsnow,sunhour
0,2021-01-01,Florida,34231,Sarasota,USA,23,0.0,82,10,1019,...,22,18,21,45,21,20,23,21,0.0,8.7
1,2021-01-01,Florida,34201,Bradenton,USA,24,0.0,79,10,1020,...,23,18,22,41,23,20,24,22,0.0,8.7
2,2021-01-01,Florida,33710,Saint Petersburg,USA,21,0.0,83,10,1019,...,21,17,20,51,20,20,21,21,0.0,8.7
3,2021-01-01,Florida,34994,Stuart,USA,26,0.0,75,10,1021,...,26,19,24,31,26,23,26,25,0.0,8.7
4,2021-01-01,Florida,32309,Tallahassee,USA,23,2.1,90,9,1018,...,21,18,20,27,20,18,23,21,0.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49203,2021-01-27,Florida,33322,Fort Lauderdale,USA,29,0.2,67,10,1018,...,27,19,26,16,27,22,29,26,0.0,10.9
49204,2021-01-28,Florida,33322,Fort Lauderdale,USA,22,0.0,60,10,1020,...,22,12,21,29,21,15,22,21,0.0,10.1
49205,2021-01-29,Florida,33322,Fort Lauderdale,USA,19,0.1,60,10,1024,...,18,10,18,27,18,17,19,18,0.0,7.0
49206,2021-01-30,Florida,33322,Fort Lauderdale,USA,20,0.1,60,10,1023,...,19,11,19,24,19,18,20,19,0.0,5.5
49207,2021-01-31,Florida,33322,Fort Lauderdale,USA,24,0.1,62,10,1019,...,23,14,22,24,23,17,24,22,0.0,10.1

In [81]:
weather_df_sliced.iloc[0][0]

Timestamp('2021-01-01 00:00:00')

In [82]:
price_df.iloc[0][0]

'2021-01-04 00:00:00-05:00'

SyntaxError: invalid syntax (<ipython-input-95-34b463f1c67e>, line 1)